@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);
/* Project specific CSS goes here. */
body {
  font-family: 'Droid Sans Mono', sans-serif;
}
#logo {
  font-family: 'Anonymous Pro', serif;
  font-size: 48px;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 20px;
  border-bottom: 1px dotted #DEDEDE;
  margin-bottom: 50px;
}
